<form
  #addProjectForm="ngForm"
  class="w-full"
  novalidate
  (ngSubmit)="clickAddProject$.next(addProjectForm)">

  <div class="flex items-center border-b border-blue-700 py-2 mb-10 max-w-sm">
    <input
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="text"
        name="projectName"
        placeholder="Project Name"
        [ngModel]="projectName">
    <button
        class="flex-shrink-0 bg-blue-700 hover:bg-blue-500 hover:border-blue-500 border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
        type="submit">
      <span>Add Project</span>
    </button>
    <div *ngIf="fieldIsLoading$ | async">
      <div style="border-top-color:transparent"
           class="w-4 h-4 border-2 border-blue-400 border-dotted rounded-full animate-spin ml-2"></div>
    </div>
    <span *ngIf="success$ | async">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="green" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
    </span>
    <span *ngIf="error$ | async">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="red">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
      </svg>
    </span>
  </div>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-md sm:rounded-lg">
          <table class="min-w-full">
            <thead class="bg-gray-100 dark:bg-gray-700">
              <tr>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  Name
                </th>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  Id
                </th>
                <th scope="col" class="relative py-3 px-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody>

              <tr
                *ngFor="let project of (projects$ | async)"
                class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{project.name}}
                </td>
                <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                  {{project.id}}
                </td>
                <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                  <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                  <button
                      type="button"
                      class="pl-5 text-red-600 dark:text-red-500 hover:underline"
                      (click)="deleteProject(project.id)">Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
